
<div class="table"><br/>
<center><%= link_to 'Nouveau Contrat', new_contrat_path, class: 'btn-medium' %><br/><br/></center>

  <% @contrats.each do |contrat| %>
  <div class="table-row">
    <%= contrat.nom %>
    <%= contrat.prenom %>,
    <i>CDD</i>
    <%= link_to ' Générer le contrat', contrat_path(contrat, format: 'pdf'), class: 'btn btn-medium btn-lg pull-right margin' %>
    <%= link_to ' Modifier', edit_contrat_path(contrat), class: 'btn btn-medium btn-lg pull-right margin'   %>
    <%= link_to ' Supprimer', contrat, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-medium btn-lg pull-right margin' %>
</div>
  <% end %>


</div>


