
<div class="logbox">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @contrat.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @contrat.prenom %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @contrat.adresse %>
</p>
<%= link_to "Générer le contrat", contrat_path(@contrat, format: 'pdf'), class: 'btn btn-medium btn-lg' %>
<br/><br/>

<%= link_to 'Edit', edit_contrat_path(@contrat) %> |
<%= link_to 'Back', contrats_path %>
</div>
